<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <% if(students.length>0) { %>
        <table>
          <thead>
            <tr>
              <th>
                Student Name
              </th>
              <th>
                Age
              </th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<students.length; i++) { %>
              <tr>
                <td><%= students[i].name %></td>
                <td><%= students[i].age %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      <% } else { %>
        <div>No Data Found</div>
      <% } %>
    </div>
    
  </div>
</div>
</body>
<% include partials/script %>
</html>
